body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

#coaches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
background-color:white;
}
.coaches-heading {
  font-size: 2.2rem;
  padding: 10px 20px;
  margin: 20px;
  color: #303030;
  text-transform: uppercase;
  font-weight: 800;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
  text-align: center;
}
.member-box {
  /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
  /* background-color: #ffffff; */
  position: relative;
  cursor: pointer;
  background-clip: content-box;
}
.member-img {
  width: 362px;
  height: 542px;
  position: relative;
}
.member-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.hover-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.member-box:hover .hover-img {
  display: block;
  animation: fade 0.4s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* orange bookmark */
.img-clip {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
}
.member-box:before {
  background-color: #fc7001;
  content: "";
  height: 200px;
  left: 40px;
  position: absolute;
  top: -20px;
  transform: rotate(33deg);
  width: 10px;
}
/* end of orange bookmark */

.member-name {
  width: 100%;
  padding: 20px 10px;
  background-color: #1b1b1b;
  z-index: 2;
}

.member-name h3,
.member-name h5 {
  color: #ffffff;
  margin: 0px;
  letter-spacing: 0.3px;
}
.member-name h5 {
  font-weight: 500;
}
.member-name h3 {
  text-transform: uppercase;
  font-weight: 800;
}
.coaches-box {
  display: grid;
  grid-template-columns: 362px 362px 362px;
  grid-template-rows: auto auto auto;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
}
.member-detail-box {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.detail-box-1,
.detail-box-2,
.detail-box-3,
.detail-box-4,
.detail-box-5,
.detail-box-6 {
  grid-column: 1/4;
  display: none;
}

.detail-box-img {
  width: 300px;
  height: auto;
}
.detail-box-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.detail-box-text {
  padding: 20px 20px 20px 0px;
  position: relative;
}
.detail-name {
  font-size: 3rem;
  color: #181818;
  font-weight: 700;
}

.member-social-links {
  display: flex;
  align-items: center;
}
.member-social-links a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #000;
}
.member-social-links a:hover {
  color: #fff;
  background-color: #181818;
  transition: all ease 0.3s;
}

.detail-box-text .position {
  font-size: 1.7rem;
  color: #000000;
  border-bottom: 1px solid #414141;
  margin: 0px;
  padding: 10px 0px;
  width: 97%;
}
.detail-box-text p {
  margin-top: 20px;
  color: #202020;
  font-weight: 500;
  font-size: 1.5rem;
}

.cancel:hover {
  color: #fff;
  background-color: #0e0e0e;
  transition: all ease 0.3s;
}
.cancel {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #202020;
}
.member-name h3{
  font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25px;
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
}
.member-name h5{
font-size: 16px;
line-height: 25px;
font-weight: 600;
text-align: center;
margin-top: 10px;
margin-bottom: 5px;
}