/*General*/
:root{
    --nav-color: white;
    --hovercolor: #ff7101;
    --header: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

body {
    background-color: black;
    color: black;
    background: linear-gradient(to right, rgb(255, 250, 102), rgb(255, 149, 0));
}

h1{
    font-size: 3rem;
    text-align: center;
}

/*Login*/

label{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
input{
    font-size: 1.5rem;
}
.page{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#login-img{
    border-radius: 20px;
    margin-right: 15px;
    width: 500px;
    max-height: 500px;

}
.login-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:25px 50px;
    border-radius: 20px;
    background-color: white;
}
.txt-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}
#slink{
    font-size: 1.5rem;
    color: var(--hovercolor);
}
.submit-button{
    background:black;
    color:white; 
    padding: 10px 25px;
    border-radius:20px;
    margin-bottom: 10px;
}
.signup-link{
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header*/
header{
    display: flex;
    padding : 1rem 180px;
    background-color: var(--header);
    color: var(--nav-color);
    font-size: 2rem;
    margin-bottom: -7px;
}
.header-item{
    margin-right: 2rem;
}

/*Nav bar*/
nav{
    position: relative;
    width: 100%;
    z-index: 1000;
    
}
.nav-list {
    background-color: rgba(9, 9, 9, 0.8);
    padding: 1rem 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-item {
    margin-right: 2rem;
}

.nav-item a {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 1rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 0rem;
}

li span {
    color: var(--hovercolor);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    display: inline;
}
#second{
    color: white;
}


/*Added using js*/
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}


/*Responsivness*/
/* media queries */
@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1150px]*/
    .nav-list{
        padding: 2rem 50px;
    }
    .nav-item a {
        font-size: 1.2rem;
    }
    .nav-item {
        margin-right: 1.2rem;
    }
}
@media only screen and (max-width: 709px){
	/*Big smartphones [426px -> 600px]*/
    
    /*navbar*/
    nav{
        position: relative;
        width: 100%;
        
    }
    .nav-list {
        background-color: black;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin:1rem 0rem;
    }
    .nav-item:first-child {
        margin-right: 0;
        margin-left: 0;
    }
}

/*Animations*/
#slink:hover{
    text-decoration: underline;
}
.submit-button:hover{
    background: var(--hovercolor);

    color:white; 
    padding: 10px 25px;
    border: 2px solid var(--hovercolor);
    border-radius:20px;
    margin-bottom: 10px;
}
.nav-item a:hover {
    border-bottom: 2px solid var(--hovercolor);
}