:root{
    --nav-color: white;
    --hovercolor: #ff7101;
    --header: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

/*General*/
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2.5rem;
}

li
{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-color);
}

.title{
    margin-bottom: 40px;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}
/*Header*/
header{
    display: flex;
    padding : 1rem 180px;
    background-color: var(--header);
    color: var(--nav-color);
    font-size: 2rem;
    margin-bottom: -7px;
}
.header-item{
    margin-right: 2rem;
}

/*Nav bar*/
nav{
    position: relative;
    width: 100%;
    z-index: 1000;
    
}
.nav-list {
    background-color: rgba(9, 9, 9, 0.8);
    padding: 1rem 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-item {
    margin-right: 2rem;
}

.nav-item a {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 1rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 0rem;
}

li span {
    color: var(--hovercolor);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    display: inline;
}
#second{
    color: white;
}


/*Added using js*/
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}


/*Responsivness*/
/* media queries */
@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1150px]*/
    .nav-list{
        padding: 2rem 50px;
    }
    .nav-item a {
        font-size: 1.2rem;
    }
    .nav-item {
        margin-right: 1.2rem;
    }
}
@media only screen and (max-width: 709px){
	/*Big smartphones [426px -> 600px]*/
    
    /*navbar*/
    nav{
        position: relative;
        width: 100%;
        
    }
    .nav-list {
        background-color: black;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin:1rem 0rem;
    }
    .nav-item:first-child {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

}
/* Animations */
.nav-item a:hover {
    border-bottom: 2px solid var(--hovercolor);
}
/* Slideshow container */
.slideshow-container {
    width: 1519.2px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    margin-top: -22px;
    padding: 50px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    writing-mode: vertical-rl;
text-orientation: upright;
font-weight: 900;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: white;
    
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    top: 15%;
    width: 45%;
    text-align: left;
    margin-left: 180px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  }
  .text h1{
    text-align: left;
    display: block;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0;
  }
  .text h2{
      font-size: 40px;
      font-weight: 400;
  }
  .text p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: capitalize;
    line-height: 30px;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
      box-sizing: content-box;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  .active, .dot:hover {

    background-color: #717171;
    border: 2px solid var(--hovercolor);
  }
.dots{
   position: absolute;
   top: 600px;
   left: 695.26px;
    }  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .mySlides img{
      filter: brightness(65%);
      z-index: 1;
  }
  .top img{
      z-index: 3;
      position: absolute;
      top: 660px;
      margin-bottom: 300x;
  }
  #about{
      margin-top: -250px;
      height: 640px;
      background-color: white;
      
  }
  .hori img{
      z-index: 5;
      position: absolute;
      top: 830px;
      left: 180px;
      height: 500px;
  }
  #im2{
      top: 850px;
      left: 380px;
      margin-bottom: 50px;
  }
  html{
      background-color: white;
  }
