:root{
    --nav-color: white;
    --hovercolor: #ff7101;
    --header: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/*General*/
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2.5rem;
}

li
{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-color);
}

.title{
    margin-bottom: 40px;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
/*Header*/
header{
    display: flex;
    padding : 1rem 50px;
    background-color: var(--header);
    color: var(--nav-color);
    font-size: 2rem;
}
.header-item{
    margin-right: 2rem;
}

/*Nav bar*/
nav{
    position: relative;
    width: 100%;
}
.nav-list {
    background-color: rgba(9, 9, 9, 0.9);
    padding: 2rem 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-item {
    margin-right: 2rem;
}

.nav-item a {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 1rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 0rem;
}

.nav-logo {
    color: var(--hovercolor);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

/*Added using js*/
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}




/*Responsivness*/
/* media queries */
@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1150px]*/
    .nav-list{
        padding: 2rem 50px;
    }
    .nav-item a {
        font-size: 1.2rem;
    }
    .nav-item {
        margin-right: 1.2rem;
    }
}
@media only screen and (max-width: 709px){
	/*Big smartphones [426px -> 600px]*/
    
    /*navbar*/
    nav{
        position: relative;
        width: 100%;
    }
    .nav-list {
        background-color: black;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin:1rem 0rem;
    }
    .nav-item:first-child {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

}
/* Animations */
.nav-item a:hover {
    border-bottom: 2px solid var(--hovercolor);
}

