:root{
    --nav-color: white;
    --hovercolor: #ff7101;
    --header: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

/*General*/
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2.5rem;
}

li
{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-color);
}

.title{
    margin-bottom: 40px;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}

/*Header*/
header{
    display: flex;
    padding : 1rem 180px;
    background-color: var(--header);
    color: var(--nav-color);
    font-size: 2rem;
    margin-bottom: -7px;
}
.header-item{
    margin-right: 2rem;
}

/*Nav bar*/
nav{
    position: relative;
    width: 100%;
    z-index: 1000;
    
}
.nav-list {
    background-color: rgba(9, 9, 9, 0.8);
    padding: 1rem 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-item {
    margin-right: 2rem;
}

.nav-item a {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 1rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 0rem;
}

li span {
    color: var(--hovercolor);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    display: inline;
}
#second{
    color: white;
}


/*Added using js*/
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}


/*Responsivness*/
/* media queries */
@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1150px]*/
    .nav-list{
        padding: 2rem 50px;
    }
    .nav-item a {
        font-size: 1.2rem;
    }
    .nav-item {
        margin-right: 1.2rem;
    }
}
@media only screen and (max-width: 709px){
	/*Big smartphones [426px -> 600px]*/
    
    /*navbar*/
    nav{
        position: relative;
        width: 100%;
        
    }
    .nav-list {
        background-color: black;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin:1rem 0rem;
    }
    .nav-item:first-child {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

}
/* Animations */
.nav-item a:hover , #active a{
    box-sizing: content-box;
    border-bottom: 2px solid var(--hovercolor);
    padding-bottom: 1rem;
}
/* Slideshow container */
.slideshow-container {
    width: 1519.2px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    margin-top: -22px;
    padding: 50px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 900;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: white;
    
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    top: 15%;
    width: 45%;
    text-align: left;
    margin-left: 180px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  }
  .text h1{
    text-align: left;
    display: block;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0;
  }
  .text h2{
      font-size: 40px;
      font-weight: 400;
  }
  .text p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: capitalize;
    line-height: 30px;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
      box-sizing: content-box;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  .active, .dot:hover {

    background-color: #717171;
    border: 2px solid var(--hovercolor);
  }
.dots{
   position: absolute;
   top: 600px;
   left: 695.26px;
    }  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .mySlides img{
      filter: brightness(65%);
      z-index: 1;
  }
  .top img{
      z-index: 3;
      position: absolute;
      top: 660px;
      margin-bottom: 300x;
  }
  #about{
      margin-top: -250px;
      height: 640px;
      background-color: white;
      
  }
  .hori img{
      z-index: 5;
      position: absolute;
      top: 830px;
      left: 180px;
      height: 500px;
  }
  #im2{
      top: 850px;
      left: 380px;
      margin-bottom: 50px;
  }
  html{
      background-color: white;
  }

  .abttext h2{
    display: block;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0;
    color: black;
    position: absolute;
    right:360px ;
    top: 850px;
    z-index: 10;
    width: 70%;
  }
  .abttext h2, .abttext h3, .abttext p
  {
    color: black;
    position: absolute;
    left:670px ;
    top: 850px;
    z-index: 10;
    width: fit-content;
  }
  .abttext h3{
    top:940px;
    font-size: 40px;
    font-weight: 300;
  }
  .abttext p{
      width: 630px;
      font-size: 20px;
      top: 1010px;
      text-align: justify;
  }
  .btn{
    display: inline-block;
    overflow: hidden;
    background: transparent;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: 900;
    transition-duration: 0.3s;
    font-size: 20px;
  }
.mySlides .btn, .courses .btn{
   border: 1px solid white;
    color: white;
}
.abttext .btn , .trainers .btn{
    border: 1px solid var(--hovercolor) ;
    color: black;
    position: absolute;
    top:1280px;
    left: 670px;
    z-index: 100;
}
.btn:hover{
    background-color: var(--hovercolor);
    color: white;
    border-color: var(--hovercolor);
}
.courses
{
    padding : 1rem 180px;
    background: url("../imgs/course_bg.png");
    background-size: cover;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    
}
.courses h2, .trainers h2,.contform h2{
    line-height: 110%;
    font-size: 90px;
    font-weight: 800;
    color: white;
    background-size: cover;
    margin-top: 60px;
}
.courses h3, .trainers h3 ,.contform h3{
    font-size: 40px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}
.courses ul {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    margin-bottom: 50px;
}
.courses li a , .tcard span{
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 20px;   
    color: white;
    text-align: center;
    display: block;
    width: 100%;
}

.courses img
{
    width: 100%;
}
.courses li a:hover{
    color: var(--hovercolor);
}
.trainers{
    padding : 1rem 180px;
    background-color: white;
}
.tcard{
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
gap: 80px;
}

.tcard img{
    width: 100%;
    height: 463px;    
}
.trainers h2, .trainers h3,.trainers p,.contform h2,.contform h3{
    color: black;
}
.trainers p{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: justify ;
}
.ttext{
    width: 50%;
    position: relative;
    left:580px;
}
.tcard span{
    color: var(--hovercolor);
    font-size: 30px;
    text-transform: uppercase;
}
.tcard .type{
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: black;
    margin-bottom: 30px;
}
.trainers .btn{
    position: static;
    text-align: center;    
    margin-bottom: 50px;
}
.courses .btn{
    margin-bottom: 50px;
}
.mid{
    text-align: center;
}
.landing{
    padding:1rem 180px  ;
    background-image: url("../imgs/contact.jpg");
    background-size: cover      ;
    background-repeat: no-repeat;
    height: 480px;
}
.landing h1{
    background: none;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 0;
    color: white;
    text-align: left;
    margin-top: 120px;
}
.landing h2{
    font-size: 40px;
color: #fff;
margin-top: 0;
font-weight: 400;
}
.cont-info{
    background: white;
    padding: 1rem 180px;
}

.cont-info .contloc
{
    background-image: url("../imgs/location.png");
    width: 78px;
    height: 78px;
}
.cont-info .contloc:hover{
    background-image: url("../imgs/location_hover.png");
}
.cont-info .contcont
{
    background-image: url("../imgs/phone.png");
    width: 78px;
    height: 78px;
}
.cont-info .contcont:hover{
    background-image: url("../imgs/phone_hover.png");
}
.cont-info .conttime
{
    background-image: url("../imgs/time.png");
    width: 78px;
    height: 78px;
}
.cont-info .conttime:hover{
    background-image: url("../imgs/time_hover.png");
}
.cont-info  .cards
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.cont-info .contcard
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: fit-content;
    justify-content: center;
}
.conttext{
    position: relative;
  top: 15%;
  margin-left: 10px;
}
.conttext address, .conttext a,.conttext time,.conttext span{
    font-size: 17px !important;
    color: #2e3438;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-weight: 600;
    display: block;
}
.contcard {
    margin-top: 50px;
    margin-bottom: 40px;
}
.cont-info iframe{
    width:1158px;
    height:400px;
    border: none;
    border-radius: 20px;
}
.conttext address
{
    margin-left: -10px;
}
.contform{
    background-color: white;
    padding: 1rem 180px;
    
}
.contform label{
    font-size: 1.5rem;
}


/*Footer*/

.footer-container{
    padding:1rem 180px;
    background-color:#000 ;
    color:#fff;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    
 

}
.footer fab{
    font-size:20px;
    float:inline;
    display:flex;
    
}
.footer li{
    
    margin-bottom:1rem;
    font-size:25px;
}
.footer h2{
    padding-top:40px;
   align-items: baseline;
   flex-direction:column;
   font-size: 25px;
   padding-bottom: 1rem;
}
.footer a{
    font-size: 1.5rem;
   text-decoration: none;
   color:#fff;
   margin-bottom:0.5rem;
}
.footer-part-1{
    display:flexbox;
}
.footer-part-2{
    display: inline-block;
    
}
.footer-form-email{
    
    display: inline-block;
    
    
}
.footer-container Map{
    
    height:30%;
    display: inline-block;
    
}
#footer-email-btn{
text-align: center;
width:150px;
font-size:1.5rem;
text-transform: uppercase;
border: 1px solid #fc7001;
border-radius: 50px;
font-weight: 850;
overflow: hidden;
background: transparent;
color: #fff;
height:3rem;

}
#email-add{
    width:20rem;
    height:3rem;
    border-radius:4px;
    outline:none;
    border:none;
    padding-left:0.5rem;
    padding-right:1rem;
    font-size:1.5rem;
    margin-bottom:1rem;
}
#email-add::placeholder{
    font-size: small;
    text-align: left;
    color:#b1b1b1;
    
}
#footer-email-btn:hover{
    cursor:pointer;
    background-color: #fff;
    color:#000;
    transition-duration: 0.3s;
    transition: all 0.4s ease-out;
}    
.footer{
    display :grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    height:20%;
    gap: 50px;

}
.footer copyright-section{
    padding-top:2rem;
    padding-bottom: 2rem;
    font-size:20px;
    font:bold;
} 
.footer a:hover{
    color:#D35400 ;
    transition: 0.3s ease-out;
}
.footer-container icons p{
    
    padding-bottom:2rem;
    font-size:20px;
}
.fa-instagram:hover{
    cursor:pointer;
    color:#D2B4DE;
}
.fa-facebook:hover{
    cursor:pointer;
    color:#2471A3;
}
.fa-twitter:hover{
    cursor:pointer;
    color:#AED6F1 ;
}
.fa-snapchat:hover{
    cursor:pointer;
    color:#F7DC6F ;
}
.footer iframe{
    height: 135px;
}
.footer-form-email p{
    font-size:small;
    text-align: center;
    font-style: italic;
    justify-content: center;
    padding-bottom:1rem;
    padding-top:0rem;
    float:top;
}
    


